{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <form action="/add-new-item" method="post" class="form-example">
    <div class="form-example">
      <label for="name">Add a new task: </label>
      <input type="text" name="task_name" id="task_name" required>
    </div>
    <div class="form-example">
      <input type="submit" value="Create">
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.items %}
          <li><form action="/update-card-status/{{item.id}}" method="post" class="form-example">
            <div class="form-example">
              <input type="submit" value="Done" >
            </div>
          </form> {{item.name}} - {{item.status}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}